.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
  }
  
  .hero__title {
    color: var(--background-color);
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
  }